<section class="ambassador-program">
  <section class="ambassador-program__ty-atf">
    <img class="ambassador-program__ty-atf-image" src="https://cdn.shopify.com/s/files/1/0155/0195/t/37/assets/ambassador-title.png?v=1622747361" alt="Synchro Ambassador Program">
  </section>
  <section class="ambassador-program__content">
    <div class="ambassador-program__almost-there">
      <h2 class="ambassador-program__title">You're almost there! Here's what's next…</h2>
      <p class="ambassador-program__copy">Yay! We’re so excited you’re interested in being a Synchro Ambassador. There’s just <span class="p--bold">one final step</span> in the application process...</p>
      <p class="ambassador-program__copy">When you become an Ambassador, you’ll film videos about your Boom experiences. So, <span class="p--bold">we want to see how you film!</span></p>
      <p class="ambassador-program__copy">To finish your application, please <span class="p--bold">record a sample video of yourself</span> answering ONE of the following questions:</p>
      <div class="ambassador-program__questions">
        <div class="ambassador-program__question-box">
          <div class="ambassador-program__list">1</div>
          <p class="ambassador-program__copy">Why do you love Synchro?</p>
        </div>
        <div class="ambassador-program__question-box">
          <div class="ambassador-program__list">2</div>
          <p class="ambassador-program__copy">What does Living In Sync mean to you?</p>
        </div>
        <div class="ambassador-program__question-box">
          <div class="ambassador-program__list">3</div>
          <p class="ambassador-program__copy">What’s your favorite Synchro product and why?</p>
        </div>
      </div>
      <p class="ambassador-program__copy">Your choice—answer the question that speaks to you the most.</p>
      <p class="ambassador-program__copy">Your video should be no more than five minutes. (It can also be just 30 seconds if you like… it’s up to you!)</p>
      <p class="ambassador-program__copy"><span class="p--bold">You can film this short video on your phone, tablet or camera.</span></p>
      <p class="ambassador-program__copy">When you’re done, please email your video to <a href="mailto:sandra@besynchro.com">sandra@besynchro.com</a> with “Synchro Ambassador Video” in the subject line.</p>
      <p class="ambassador-program__copy">Once we watch your video, we’ll review your information. If we think we would be a great fit for each other, we’ll reach out to you via email.</p>
    </div>
    <div class="ambassador-program__ambassadors"></div>
    <div class="ambassador-program__almost-there">
      <p class="ambassador-program__subtitle">While we would love to accept every potential Ambassador, space is limited. So grab your favorite outfit, find that perfect lighting and show us your very best YOU!</p>
      <p class="ambassador-program__copy p--italic">A quick reminder… Ambassadors do not receive monetary compensation. However, if you are chosen to be a Synchro Ambassador, you can expect to receive free Synchro products, 25% discounts on all
        future orders, access to new products, special Ambassador gifts—and more.</p>
      <p class="ambassador-program__copy">Thanks again for your interest. We can’t wait to see your video!</p>
    </div>
  </section>
