<section class="ambassador-program">
  <section class="ambassador-program__atf">
    <h1 class="ambassador-program__header">We're looking for a few extraordinary people for our new Synchro Ambassador Program</h1>
    <p class="ambassador-program__learn-more">Learn more</p>
  </section>
  <section class="ambassador-program__intro">We're excited to announce the launch of our new Ambassador program. We’re looking for individuals with voices that embody our message: <span>thriving
      in body-mind-spirit, at any age.</span>
  </section>
  <a class="anchor" name="form"></a>
  <section class="ambassador-program__application">
    <h2 class="ambassador-program__main-title">Interested? We’re accepting applications!</h2>
    <p class="ambassador-program__copy">Get started by filling out your details below</p>
    <div class="ambassador-program__form">
      <div class="klaviyo-form-X7WDzX"></div>
    </div>
  </section>
  <section class="ambassador-program__content">
    <div class="ambassador-program__almost-there">
      <h2 class="ambassador-program__title">Almost there! You have one more step to finish this application.</h2>
      <p class="ambassador-program__copy">Click the “Apply to be a Synchro Ambassador” button above, and we’ll send you the details on how to <span class="p--bold">complete this final step: filming a short video</span> (less than five minutes) to
        finish introducing yourself.</p>
      <p class="ambassador-program__copy p--italic">Note: You must submit your video in order to be considered for Synchro Ambassadorship. Then, we’ll review your application and reach out if we’re a good fit for each other.</p>
    </div>
    <div class="ambassador-program__ambassadors"></div>
    <div class="ambassador-program__about">
      <h2 class="ambassador-program__title">Community leaders. Social media influencers. Advocates. Health and vitality lovers.</h2>
      <p class="ambassador-program__copy">We are so excited to announce the launch of our new Ambassador program! We’re looking for <span class="p--bold">inspiring</span> individuals with voices that embody our message: <span class="p--bold">thriving
          in body-mind-spirit, at any age.</span></p>
      <p class="ambassador-program__copy">As an Ambassador, we want to hear what YOU think about Synchro products and our life in sync philosophy.</p>
      <p class="ambassador-program__copy">We ask all Ambassadors to <span class="p--bold">submit photos and short videos</span> showing their personal experiences with Synchro.</p>
      <p class="ambassador-program__copy"><span class="p--bold p--underline">Full disclosure:</span> Synchro Ambassadors do not receive monetary compensation. If you are selected as an Ambassador, you will receive a ton of perks reserved especially
        for Synchro
        Ambassadors.</p>
      <p class="ambassador-program__copy"><span class="p--bold">You’ll receive many goodies and other benefits, including…</span></p>
      <div class="ambassador-program__benefits">
        <div class="ambassador-program__benefit">
          <p class="ambassador-program__benefit-title">Free products</p>
          <p class="ambassador-program__benefit-copy">Free products: We’ll send you all of our five-star-rated products. ($200 value)</p>
        </div>
        <div class="ambassador-program__benefit">
          <p class="ambassador-program__benefit-title">The official Synchro Ambassador title</p>
          <p class="ambassador-program__benefit-copy">This is a great opportunity to connect and share your voice with thousands of other thriving, healthy humans.</p>
        </div>
        <div class="ambassador-program__benefit">
          <p class="ambassador-program__benefit-title">25% discounts</p>
          <p class="ambassador-program__benefit-copy">You’ll get exclusive discounts to the Synchro store. (Plus an exclusive discount for your friends and followers.)</p>
        </div>
        <div class="ambassador-program__benefit">
          <p class="ambassador-program__benefit-title">New Synchro</p>
          <p class="ambassador-program__benefit-copy">You may be asked to try our newest synchro items first—before they’re released in our store.</p>
        </div>
      </div>
      <p class="ambassador-program__copy">We’re looking for influential, inspiring humans who are already causing a stir on social media, or leading in your community, industry or business.</p>
      <p class="ambassador-program__copy">Think this might be for you?</p>
    </div>
  </section>
  <section class="ambassador-program__eligibility">
    <h2 class="ambassador-program__header">You Could Be Our Next Ambassador If…</h2>
    <div class="ambassador-program__eligibility-box">
      <div class="ambassador-program__check"></div>
      <p class="ambassador-program__copy">You have an engaged following on Facebook, Instagram, YouTube or another social media platform.</p>
    </div>
    <div class="ambassador-program__eligibility-box">
      <div class="ambassador-program__check"></div>
      <p class="ambassador-program__copy">You’re already a role model for humans in your industry.</p>
    </div>
    <div class="ambassador-program__eligibility-box">
      <div class="ambassador-program__check"></div>
      <p class="ambassador-program__copy">You have a strong voice and you aren’t afraid to use it.</p>
    </div>
    <div class="ambassador-program__eligibility-box">
      <div class="ambassador-program__check"></div>
      <p class="ambassador-program__copy">You’d love to be the “face” and “voice” of Synchro.</p>
    </div>
    <div class="ambassador-program__eligibility-box">
      <div class="ambassador-program__check"></div>
      <p class="ambassador-program__copy">You feel completely at ease filming short videos on your phone, laptop or other device. (Or having someone else film you!)</p>
    </div>
    <div class="ambassador-program__eligibility-box">
      <div class="ambassador-program__check"></div>
      <p class="ambassador-program__copy">You love Synchro and you’re excited to spread the word about what we do.</p>
    </div>
  </section>
  <section class="ambassador-program__cta">
    <p class="ambassador-program__cta-title"><span>Sound like you?</span>Great, we’d love to hear from you!</p>
    <a href="#form">
      <button class="a--cta">Apply to be a Synchro Ambassador</button>
    </a>
  </section>
</section>
