<section class="effective-altruism">
    <section class="effective-altruism__atf">
      <img class="effective-altruism__atf-icon" src="{{ 'icon-giving.svg' | asset_url }}" alt="Giving">
      <div class="effective-altruism__title">Our 10% for Global Health Pledge</div>
      <h1 class="effective-altruism__header">A minimum of 10% of our profits go to the most effective NGOs working to improve human health + wellbeing globally.</h1>
    </section>
    <section class="effective-altruism__content">
      <div class="effective-altruism__overview">
        <h2 class="effective-altruism__overview-title">Overview</h2>
        <ul class="effective-altruism__overview-copy">
          <li class="effective-altruism__copy">We’ve committed to giving a minimum of 10% of our profits (and often much more) to the most effective organizations working to improve human health around the globe.</li>
          <li class="effective-altruism__copy">For 2020 and 2021, we’ve chosen to give these funds to the Effective Altruism Global Health and Development Fund.</li>
          <li class="effective-altruism__copy">Effective Altruism Funds are directed by teams of experts using high-quality data and careful reasoning to identify the most effective NGOs working to solve humanity’s most pressing problems. Or put
            more simply: In whose hands will $1 go the furthest to reduce human suffering?</li>
          <li class="effective-altruism__copy">The fund’s largest recipients in the past 12 months have been the Malaria Consortium, Innovations For Poverty Action and the Schistosomiasis Control Initiative.</li>
        </ul>
      </div>
      <div class="effective-altruism__details">
        <p class="effective-altruism__mantra">May all beings everywhere be truly happy and free, and may the thoughts, words and actions of my own life contribute to this in some way, every day.
          <span>(translation of Lokah Samastah Sukhino Bhavantu, a sanskrit prayer)</span></p>
        <p class="effective-altruism__copy">Take a look at any of our product packaging, and somewhere you’ll see this translated prayer that we’ve adopted as our guiding principle.</p>
        <p class="effective-altruism__copy">Since day one at Synchro, our raison d’etre has been to promote human thriving and flourishing whenever and however we can.</p>
        <p class="effective-altruism__copy">For the majority of our history, we’ve worked towards this by creating nutrition products and content that our customers use as tools to promote thriving in their own bodies and lives. The thousands of
          positive
          reviews we’ve received over that period speak to the success we’ve had there.</p>
        <p class="effective-altruism__copy">In 2020, inspired by the Effective Altruism movement, our eyes were opened to another possibility to substantially contribute to human flourishing: <span class="p--bold">monetary donations to highly-effective
            NGOs working in global health.</span></p>
        <p class="effective-altruism__copy">Here’s why: Living and operating in a globally “rich country” offers us (and you!) a tremendous opportunity - simply by giving money to the most effective charities operating in the developing world, we can
          substantially improve the health and quality of life (and reduce suffering and unnecessary death) for many thousands more human beings, hugely amplifying the good we’re doing in the world.</p>
        <p class="effective-altruism__copy">Giving away a minimum of 10% of our profits is hardly insignificant for a company of our size, but it was also relatively easy to budget in with modest austerities elsewhere - and made easier by the knowledge
          that deploying these funds in this way will result in a far greater contribution to human health and flourishing than it ever could if deployed by us directly.</p>
        <p class="effective-altruism__copy">So now when you purchase a Synchro product, know that a minimum of 10% of everything we make from your purchase will be passed on to the most effective NGOs working in global health.</p>
        <h2 class="effective-altruism__section-header">What is Effective Altruism?</h2>
        <p class="effective-altruism__copy p--bold">In the words of the organization itself:</p>
        <p class="effective-altruism__copy p--italic">“Effective Altruism is a research field which uses high-quality evidence and careful reasoning to work out how to help others as much as possible. It is also a community of people taking these
          answers
          seriously, by focusing their efforts on the most promising solutions to the world's most pressing problems.”</p>
        <p class="effective-altruism__copy p--bold">Or in our words:</p>
        <p class="effective-altruism__copy">Effective Altruism is a movement in which extremely smart people use sophisticated data analysis in combination with rigorous applied-ethics philosophical thinking to determine:</p>
        <p class="effective-altruism__copy">a) The areas in which donations of time or money have the greatest potential to promote human flourishing and reduce human suffering.</p>
        <p class="effective-altruism__copy">b) The most effective charitable organizations working to address these areas of need. (Or put more simply: In whose hands will $1 go the furthest to reduce human suffering?)</p>
        <p class="effective-altruism__copy">Want to learn more about the Effective Altruism movement? This is a <a href="https://www.effectivealtruism.org/articles/introduction-to-effective-altruism/" target="_blank">great introduction from their
            website</a>. And this is <a href="https://youtu.be/HYulFcGijKQ" target="_blank">wonderful podcast with William MacAskill</a>, one of the founders of the movement.</p>
        <h2 class="effective-altruism__section-header">Where is our money going?<span>About The EA Global Health And Development Fund</span></h2>
        <p class="effective-altruism__copy">To be certain that our donations went as far as possible towards promoting human flourishing, we happily outsourced the research/vetting of NGOs to Effective Altruism Funds, a team of experts in the field
          working on this problem day-in, day-out.</p>
        <p class="effective-altruism__copy">There are a number of EA Funds directed at specific areas of need, and we identified the <a href="https://funds.effectivealtruism.org/funds/global-development" target="_blank">Global Health and Development
            Fund</a> as the one best aligned with our particular goals.</p>
        <p class="effective-altruism__copy">In the words of the fund’s directors: </p>
        <p class="effective-altruism__copy p--italic">“The Global Health and Development Fund recommends grants with the aim of improving people's lives, typically in the poorest regions of the world where the need for healthcare and economic
          empowerment
          is greatest. This will be achieved primarily by supporting projects that:</p>
        <ul class="effective-altruism__copy">
          <li>Directly provide healthcare, or preventive measures that will improve health, well-being, or life expectancy</li>
          <li>Directly provide services that raise incomes or otherwise improve economic conditions</li>
          <li>Provide assistance to governments in the design and implementation of effective policies”</li>
        </ul>
        <p class="effective-altruism__copy">The NGOs receiving the largest donations from the fund in the past 12 months are:</p>
        <ol class="effective-altruism__copy">
          <li><a href="https://www.malariaconsortium.org/" target="_blank">The Malaria Consortium</a></li>
          <li><a href="https://www.againstmalaria.com/" target="_blank">Against Malaria Foundation</a></li>
          <li><a href="https://www.poverty-action.org/" target="_blank">Innovations For Poverty Action</a></li>
          <li><a href="https://schistosomiasiscontrolinitiative.org/" target="_blank">Schistosomiasis Control Initiative (SCI)</a></li>
        </ol>
        <img src="{{ 'graham-signature@2x.png' | asset_url }}" class="effective-altruism__signature" alt="Graham Ryan">
        <p class="effective-altruism__copy"><span class="p--bold">Graham Ryan</span><br>Founder + CEO</p>
        <img src="{{ 'synchro-by-lkssbv.png' | asset_url }}" class="effective-altruism__lkssbv" alt="SYNCHRO by LKSSBV">
      </div>
    </section>
    <section class="effective-altruism__mantra-box">
      <img src="{{ 'icon-dove.svg' | asset_url }}" class="effective-altruism__icon-dove" alt="LKSSBV">
      <p class="effective-altruism__mantra-copy">May all beings everywhere be truly happy and free and may the thoughts, words and actions of my own life contribute to this in some way, every day.</p>
    </section>
  </section>