<div class="footer-link-list effective-altruism__footer effective-altruism__footer--{{orientation}}">
    <img class="effective-altruism__footer-icon" src="{{ 'icon-giving.svg' | asset_url }}" alt="Giving" width="60" height="60">
    <p class="effective-altruism__footer-copy">A minimum of 10% of our profits go to the most effective NGOs working to improve human health + wellbeing globally. <a href="https://besynchro.com/pages/10-for-global-health">Learn more</a></p>
</div>