<div class="ugc">
  <div class="ugc__video">
    <img src="https://cdn.shopify.com/s/files/1/0155/0195/t/37/assets/gold-cap-review-pat.png?v=1617984402" alt="Pat's story">
  </div>
  <div class="ugc__copy">
    <p class="ugc__title">Pat's story</p>
    <p class="ugc__quote-single">“I am a former football player who has had seven knee surgeries (four replacements), hip surgery and shoulder issues! Over the years, I have managed the pain fairly well! However, reaching 75 years, the pain
      has become very difficult. I don’t like to take Advil every day so I tried Your Gold Tumeric supplement and have had almost miracle results with pain management! Thank you so much! I am living life now much happier.”</p>
    <p class="ugc__name">Pat Killorin</p>
  </div>
</div>
