<div class="ugc">
  <div class="ugc__video">
    <img class="lazy2" data-src="{{ 'gold-cap-review-virginia.png' | asset_img_url: '490x' }}" alt="Virginia's story" width="490" height="326">
  </div>
  <div class="ugc__copy">
    <p class="ugc__title">Virginia's story</p>
    <p class="ugc__quote-single">“As an active 50yr old, I have tried many supplements to keep myself on the move. A few years ago I started taking various tumeric supplements, most of which helped but not the significant boost until I tried
      Synchro Gold. Literally overnight, the inflammation and pain from my knee subsided. I seriously have never had any type of supplement work so quickly; it usually takes several weeks.”</p>
    <p class="ugc__name">Virginia Mitchell</p>
  </div>
</div>
