<div class="ugc">
  <div class="ugc__video">
    <button id="susan-video" class="video-modal ugc__play-button" data-toggle="modal" data-video="https://www.youtube.com/embed/WWKxHTKTKzA" data-target="#videoModal">
      <img src="https://cdn.shopify.com/s/files/1/0155/0195/t/37/assets/gold-cap-review-connie-video.png?v=1620670610" alt="Connie's story">
    </button>
    <div class="modal fade in" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ugc__copy">
    <p class="ugc__title">Connie's story</p>
    <p class="ugc__quote-single">“Love this product. I've used it for a year and a half. Feel awesome, helped with joint pain and not one migraine! It’s really nice to find a company with high quality products with efficacy. Thanks!”</p>
    <p class="ugc__name">Connie Graber</p>
  </div>
</div>
