<div class="ugc">
  <div class="ugc__video">
    <button id="susan-video" class="video-modal ugc__play-button" data-toggle="modal" data-video="https://www.youtube.com/embed/oTW970xE4Hw" data-target="#videoModal">
      <img src="https://cdn.shopify.com/s/files/1/0155/0195/t/37/assets/gold-cap-susan-video.png?v=1617898227" alt="">
    </button>
    <div class="modal fade in" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ugc__copy">
    <p class="ugc__title">Susan’s story</p>
    <p class="ugc__quote-single">“...Five years ago I began to experience a severe ache in my left hip. It was so frustrating. There were nights I’d lie in bed awake because I didn’t know if I’d ever be able to run again. Within three weeks
      of taking Synchro Gold I signed up for a 50 mile race. For me honestly, it’s the elixir of life. I’m telling you, take it! You won’t regret it!...”</p>
    <p class="ugc__name">Susan Riggio, 55</p>
  </div>
</div>
