<section class="ingredients-2">
  <h3 class="p--title-new">Ingredients</h3>
  <div class="ingredients-2__content">
    <div class="ingredients-2__details">
      <div class="ingredients-2__image1"></div>
      <div class="ingredients-2__text">
        <h4 class="ingredients-2__title">Organic Turmeric Extract<span>(Full-Spectrum CO2 Extraction)</span></h4>
        <p class="p--text ingredients-2__copy">Nature’s inflammation-balancing, anti-aging wonder plant in its most potent form.</p>
      </div>
    </div>
    <div class="ingredients-2__details">
      <div class="ingredients-2__image2"></div>
      <div class="ingredients-2__text">
        <h4 class="ingredients-2__title">Organic Black Pepper Fruit Extract</h4>
        <p class="p--text ingredients-2__copy">Aids in the body’s absorption and utilization of the beneficial turmeric compounds.</p>
      </div>
    </div>
    <div class="ingredients-2__details">
      <div class="ingredients-2__image3"></div>
      <div class="ingredients-2__text">
        <h4 class="ingredients-2__title">Non-GMO Sunflower Lecithin</h4>
        <p class="p--text ingredients-2__copy">Source of natural phospholipids that improve turmeric’s absorption in the body.</p>
      </div>
    </div>
  </div>
</section>
<section class="supplements">
  <h3 class="p--title-new">Supplement Facts</h3>
  <div class="supplements__content">
    <div class="supplements__facts">
      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0155/0195/t/37/assets/gold-cap-facts.svg?v=1618504930" alt="" class="supplements__facts-image">
    </div>
    <div class="supplements__directions">
      <h3 class="supplements__directions-title">Directions</h3>
      <p class="p--text">To slow aging-related processes and maintain healthy joints and muscles,
        take 2-4 capsules per day, with food. Store in a cool, dark place.</p>
    </div>
  </div>
</section>