<div class="footer-mailinglist">
  <div class="mailing-list-signup">
    <div class="mailing-list-image">
      {% if mailing_list_title.size > 0 %}
      <h3 class="mailing-list-title">{{ mailing_list_title }}</h3>
      {% endif %}
    </div>
    <div class="mailing-list-form">
      {% if mailing_list_blurb.size > 0 %}
      <p class="mailing-list-blurb">{{ mailing_list_blurb }}</p>
      {% endif %}
      <div class="klaviyo-form-VfpQK4"></div>
      {% if mailing_list_footnote.size > 0 %}
      <p class="mailing-list-footnote">{{ mailing_list_footnote }}</p>
      {% endif %}
    </div>
  </div>
</div>
