<div class="footer-mailinglist">
  <div class="mailing-list-signup">
    <div class="mailing-list-image">
      {% if section.settings.mailing-list-title.size > 0 %}
      <h3 class="mailing-list-title">{{ section.settings.mailing-list-title }}</h3>
      {% endif %}
    </div>
    <div class="mailing-list-form">
      {% if section.settings.mailing-list-blurb.size > 0 %}
      <p class="mailing-list-blurb">{{ section.settings.mailing-list-blurb }}</p>
      {% endif %}
      <div class="klaviyo-form-VfpQK4"></div>
      {% if section.settings.mailing-list-footnote.size > 0 %}
      <p class="mailing-list-footnote">{{ section.settings.mailing-list-footnote }}</p>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Mailing List",
    "class": "shopify-section--footer-mailinglist",
    "settings": [
      {
        "type": "text",
        "id": "mailing-list-title",
        "label": "Mailing list title"
      },
      {
        "type": "textarea",
        "id": "mailing-list-blurb",
        "label": "Mailing list blurb"
      },
      {
        "type": "textarea",
        "id": "mailing-list-footnote",
        "label": "Mailing list footnote"
      }
    ],
    "presets": [{
      "name": "Mailing List",
      "category": "Promotional",
      "settings": {
      }
    }]
  }
{% endschema %}
