{% layout "theme.landing-page-gold" %}

{% assign title = "Synchro Gold | The World's Most Powerful Turmeric Supplement" %}
{% assign description = "Gold Liposomal Turmeric was created after years of research and development to give you the perfect tool for fighting inflammation and maximizing energy levels. See how much better you can feel with the world's most powerful turmeric supplement." %}

{% capture page_head %}
    <script> gtag('event', 'page_view', {'send_to': 'AW-864481593', 'ecomm_prodid': '9748925129'}); </script>

    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("susan-video").click();
        };
    </script>

    <link rel="canonical" href="https://gold.besynchro.com/">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
{% endcapture %}

{% assign is_variant = true %}

{% capture page_content %}
    <section class="gold-lp gold-capsules cap015">
        {% include 'landing-page.global.header' %}
        {% include 'landing-page.gold.capsules.atf' %}
        {% include 'landing-page.gold.capsules.review1' %}
        {% include 'landing-page.gold.capsules.benefits' %}
        {% include 'landing-page.gold.capsules.review2' %}
        {% include 'landing-page.gold.capsules.superior' %}
        {% include 'landing-page.gold.capsules.quality' %}
        {% include 'landing-page.gold.capsules.review3' %}
        {% include 'landing-page.gold.capsules.ingredients' %}
        {% include 'landing-page.gold.capsules.review4' %}
        {% include 'landing-page.gold.capsules.purchase-cap015' %}
        {% include 'landing-page.gold.capsules.reviews' %}
        {% include 'landing-page.gold.capsules.faq' %}
        {% include 'landing-page.gold.capsules.references' %}
        {% include 'landing-page.global.footer' %}
        {% include 'landing-page.gold.capsules.floating-purchase-options' %}
    </section>
{% endcapture %}