{% layout "theme.landing-page-gold" %}

{% include 'landing-page.gold.capsules.base' %}

{% assign is_variant = true %}

{% capture page_content %}

    <section class="gold-lp gold-capsules cap014 cap017-01">
        {% include 'landing-page.global.header' %}
        {% include 'landing-page.gold.capsules.atf' %}
        {% include 'landing-page.gold.capsules.review1' %}
        {% include 'landing-page.gold.capsules.benefits' %}
        {% include 'landing-page.gold.capsules.review2' %}
        {% include 'landing-page.gold.capsules.superior-cap014' %}
        {% include 'landing-page.gold.capsules.quality' %}
        {% include 'landing-page.gold.capsules.review3' %}
        {% include 'landing-page.gold.capsules.ingredients' %}
        {% include 'landing-page.gold.capsules.review4' %}
        {% include 'landing-page.gold.capsules.purchase-cap017-01' %}
        {% include 'landing-page.gold.capsules.reviews' %}
        {% include 'landing-page.gold.capsules.faq' %}
        {% include 'landing-page.gold.capsules.references' %}
        {% include 'landing-page.global.footer' %}
        {% include 'landing-page.gold.capsules.floating-purchase-options-cap017-01' %}
    </section>

{% endcapture %}
