{% layout 'theme' %}

<div class="page-header-footer__wrapper">

  <!-- Effective Altruism LP -->
  {% if page.url == "/pages/10-for-global-health" %}
  {% include 'effective-altruism' %}
  {% endif %}
  
  <!-- Ambassador Program LP -->
  {% if page.url == "/pages/ambassador-program" %}
  {% include 'ambassador-program' %}
  {% endif %}
  
  <!-- Ambassador Program Thank You Page -->
  {% if page.url == "/pages/ambassador-program-thank-you" %}
  {% include 'ambassador-program-ty' %}
  {% endif %}
  
</div>